:root {
    --primary-color: #4caf4f;
    --secondary-color: #f7f7f7;
    --text-color: #333;
}

.banner {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-container {
    width: 220px;
    height: 220px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.header-title {
    font-size: 24px;
    margin: 0;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--text-color);
    white-space: nowrap;
}

.header-phone {
    font-size: 18px;
    margin: 0;
    opacity: 0.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--text-color);
}

.carousel {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel-prev,.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.order-form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-form form {
    display: inline-block;
    text-align: left;
}

#send-order {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#send-order:hover {
    background-color: #3e8e41;
}

.cart {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cart {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart li:last-child {
    border-bottom: none;
}

@media screen and (max-width: 740px) {
    .carousel {
        width: 100%;
        padding: 20px;}}